{% extends "base.html" %}
{% block title %}Cuentas{% endblock %}

{% block content %}

<div class="container container-int">
<h1>Cuentas</h1>

<a class="btn btn-primary mb-3 a-site" href="{% url 'accounts:super_crear_cuenta' %}">
    Crear cuenta
</a>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Plan</th>
    <th>Estado</th>
    <th></th>
  </tr>

  {% for c in cuentas %}
    <tr>
      <td>{{ c.nombre }}</td>
      <td>{{ c.plan }}</td>
      <td>{{ c.estado }}</td>
      <td>
        <a class="btn btn-secondary btn-sm a-site"
           href="{% url 'accounts:super_asignar_admin' c.id %}">
          Asignar ADMIN
        </a>

        <a class="btn btn-link btn-sm a-site"
           href="{% url 'accounts:ver_admins' c.id %}">
          Ver admins
        </a>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="4">No hay cuentas aún.</td>
    </tr>
  {% endfor %}
</table>

</div>
{% endblock %}
