<section class="main-center" id="events">

<h2>Eventos disponibles</h2>


{% if eventos %}
  <section class="grid-eventos">
    {% for e in eventos %}
    <div class="event-block">
      <a href="{% url 'orders:public-event' e.slug %}">
        {% if e.banner %}
          <img src="{{ e.banner.url }}" alt="{{ e.nombre }}">
        {% else %}
          <img src="https://via.placeholder.com/600x300?text={{ e.nombre|urlencode }}" alt="{{ e.nombre }}">
        {% endif %}


        <div class="info-event">
          <h3>{{ e.nombre }}</h3>
          <span>
            {% if e.fecha_inicio %}Inicio: {{ e.fecha_inicio|date:"d M Y" }}{% endif %}
          </span>
          <p>{{ e.descripcion|truncatechars:100 }}</p>
        </div>

      </a>
    </div>
    {% endfor %}
  </section>
{% else %}
  <p class="text-muted">No hay eventos publicados todavía.</p>
{% endif %}

</section>