{% extends "base.html" %}
{% block title %}Error en el pago{% endblock %}
{% block content %}
<div class="container container-int">
  <h1>Error en el pago</h1>

  {% if reason == "missing-token" %}
    <p>No se recibió el token de Webpay.</p>
  {% elif reason == "not-authorized" %}
    <p>El pago fue rechazado o no autorizado por Webpay.</p>
  {% elif reason == "missing-session" %}
    <p>La sesión del checkout expiró. Vuelve a intentar la compra.</p>
  {% else %}
    <p>Ocurrió un error al procesar tu pago.</p>
  {% endif %}

  <div class="mt-3">
    <a href="{% url 'orders:public-checkout-step1' event.slug %}" class="btn btn-primary a-site">
        Volver a comprar tickets
    </a>

  </div>
</div>
{% endblock %}
